:root {
    --main-white: #f0f0f0;
    --main-black: #000000;
    
  }

body{
    background-color: var(--main-black);
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    
    
    margin: 0;
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    
}

#head-bg {
    background-color: var(--main-black);
    position: relative;
    top: 2%;
    left: 4%;
    font-size:medium;
}




.bt{
    align-items: center;
    background-color:var(--main-trans);
    box-shadow: none;
    border:none;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--main-white);
    
}
.bt:hover{
    filter: brightness(0.7);
}

.t1{
    color: var(--main-white);
    position: fixed;
    top:10%;
    left:25%;
    font-size: 8vw;

}

.t2{
    color: var(--main-white);
    position:absolute;
    top:8%;
    left:8%;
    
    font-size: 110%;

}


